<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the IPA installer.</p>
    <p>Access <a href='/release'>/release</a> to get the latest version of the App.</p>

    <h1>How to use</h1>
    <p>First, you need to archive your project, click on Export and
      choose the "Development" option for distribution</p>
      <img src="https://s19.postimg.cc/6m8tlmesz/Captura_de_Tela_2018-01-30_a_s_09.23.44.png" alt="image1" width="800">

      <p>Make sure to tick the "Include manifest for over-the-air installation"</p>
        <img src="https://s19.postimg.cc/kfx6b1x83/Captura_de_Tela_2018-01-30_a_s_09.28.02.png" alt="image2" width="800">

      <p>The portion "admin:admin" is the username and password for accessing
        the files in /build. You can change it in the code.</p>
      <p>Make sure your server has HTTPS enabled. <br></p>
      <p>
        <b>If you don't own a server, you can use Ngrok to expose your localhost
          over the web through https. <br>
          In this case, you should configure and run ngrok BEFORE the next step. (see NGROK Configuration below)</b>
      </p>
        <img src="https://s19.postimg.cc/odkg009mb/Captura_de_Tela_2018-01-30_a_s_09.38.03.png" alt="image2" width="800">

      <p><b>Next</b>, sign your App (using manual or automatic signing) and Click on <b>Export</b>. <br>
        This will generate a bunch of files. Copy and paste then to the <b>build</b> folder</p>

      <p>In this final step, you need to change the following line on <b>views/releases.ejs</b>
        to fit your host: <br><br>

          &lt;a href=&quot;itms-services://?action=download-manifest&amp;url=https://&lt;%= login %&gt;:&lt;%= password %&gt;@<b>HOST-HERE</b>/build/manifest.plist&quot;&gt;Install App&lt;/a&gt;

      </p>

      <p>Now you just need to navigate to <a href="/release">/release</a>, authenticate and click on the link to download the App!</p>
      <br>

      <h2> NGROK Configuration </h2>
      <p>If using Ngrok, in the terminal, navigate to the Ngrok installation
        folder and then enter: <b>./ngrok http 3000</b></p>
      <p>You should see something like this: <br>
        <img src="https://s19.postimg.cc/byxo015cz/Captura_de_Tela_2018-01-30_a_s_09.46.44.png" alt="image2" width="500"></p>
      <p>In this case, the App URL would be: <b>https://admin:admin@df444895.ngrok.io/build/myapp.ipa</b>. Do the same for the images.</p>




  </body>
</html>
